SUPABASE_DB_URL=postgresql://postgres:postgres@127.0.0.1:15432/postgres
SUPABASE_HOST=db.gclmqevfccjlqnldfmwq.supabase.co
SUPABASE_PORT=5432
SUPABASE_NAME=postgres
SUPABASE_USER=postgres
SUPABASE_PASSWORD=
SUPABASE_DB_SSLMODE=require
SUPABASE_BUCKET=product-media
